

name: build maven app self hosted vm

on:
  push:
    branches: [ "devlope" ]


jobs:
  build:

name: build maven app self hosted vm

on:
  push:
    branches: [ "self hosted" ]


jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: compile with Maven
      run: mvn compile
    - name: test with Maven
      run: mvn test
    - name: package with Maven
      run: mvn package

